bin
obj
Packages
*.exe
*.exe.settings
*.nupkg
TcpServerDemo/ConnectionState.cs
TcpServerDemo/Program.cs
TcpServerDemo/TcpLibEventArgs.cs
TcpServerDemo/TcpLibException.cs
TcpServerDemo/TcpServer.cs
TcpServerDemo/TcpServerDemo.csproj
TcpServerDemo/TcpServerDemo.sln
TcpServerDemo/UpgradeLog.htm
TcpServerDemo/UpgradeLog2.htm
TcpServerDemo/.vs/TcpServerDemo/v15/.suo
TcpServerDemo/.vs/TcpServerDemo/v15/Server/sqlite3/db.lock
TcpServerDemo/.vs/TcpServerDemo/v15/Server/sqlite3/storage.ide
TcpServerDemo/.vs/TcpServerDemo/v15/Server/sqlite3/storage.ide-shm
TcpServerDemo/.vs/TcpServerDemo/v15/Server/sqlite3/storage.ide-wal
TcpServerDemo/.vs/TcpServerDemo/v16/.suo
TcpServerDemo/.vscode/launch.json
TcpServerDemo/.vscode/tasks.json
TcpServerDemo/Backup/TcpServerDemo.sln
TcpServerDemo/Backup1/ConnectionState.cs
TcpServerDemo/Backup1/Program.cs
TcpServerDemo/Backup1/TcpLibEventArgs.cs
TcpServerDemo/Backup1/TcpLibException.cs
TcpServerDemo/Backup1/TcpServer.cs
TcpServerDemo/Backup1/TcpServerDemo.csproj
TcpServerDemo/Backup1/Properties/AssemblyInfo.cs
TcpServerDemo/Properties/AssemblyInfo.cs
